<!doctype html>
<html>
    <head>
        <title>Fortune Start</title>
    </head>
    <body>
        <form method='post'>
            <select name='user_astrological_sign'>
                <option value="aquarius">Aquarius</option>
                <option value="pisces">Pisces</option>
                <option value="aires">Aires</option>
                <option value="taurus">Taurus</option>
                <option value="gemini">Gemini</option>
                <option value="cancer">Cancer</option>
                <option value="leo">Leo</option>
                <option value="virgo">Virgo</option>
                <option value="libra">Libra</option>
                <option value="scorpio">Scorpio</option>
                <option value="sagittarius">Sagittarius</option>
                <option value="capricorn">Capricorn</option>
            </select>
            <input type="submit" value="What's my fortune?">
        </form>
    </body>
</html>